{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href='{% static "css/home.css" %}'>
    <link rel="stylesheet" href='{% static "css/nav&footer.css" %}'>
    <link rel="stylesheet" href='{% static "css/gallery.css" %}'>
    <link rel="stylesheet" href='{% static "css/alumni.css" %}'>
    <link rel="stylesheet" href='{% static "css/all.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/fontawesome.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/lightbox.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/login.css" %}'>
    <link rel="stylesheet" href='{% static "css/our-gems.css" %}'>
    <link rel="stylesheet" href='{% static "css/table.css" %}'>




    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body data-spy="scroll" data-target="#navbarResponsive">
<!-- navigation -->
    <nav class="navbar navbar-expand-lg fixed-top ">
    <div class="container-fluid">
      <a class="navbar-brand mybrand" href='{% url "vvp:index" %}' ><img src='{% static "img/logo 2.png" %}' alt="">vivekanand Vidyapeeth</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		      <span class="custom-toggler-icon"><i class="fas fa-bars"></i></span>
	    </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
    		<ul class="navbar-nav ml-auto">
    			<li class="nav-item">
    				<a class="nav-link mylink" href='{% url "vvp:gems" %}'>Our Gems</a>
    			</li>
    			<li class="nav-item">
    				<a class="nav-link mylink" href='{% url "vvp:gallery" %}'>Gallery</a>
    			</li>
    			<li class="nav-item">
    				<a class="nav-link mylink" href='{% url "vvp:notice" %}'>Notices and Events</a>
    			</li>
    			<li class="nav-item">
    				<a class="nav-link mylink" href='{% url "vvp:alumni" %}'>Alumni</a>
    			</li>
    			<li class="nav-item">
    				<a class="nav-link mylink" href='{% url "vvp:staff" %}'>Staff Members</a>
    			</li>
    			<li class="nav-item">
    				<a class="nav-link mylink" href='{% url "vvp:committee" %}'>Committee Members</a>
    			</li>
    			<li class="nav-item">
    				<a class="nav-link mylink" href="#contactus">Contact us</a>
    			</li>
    		</ul>
    	</div>

    </div>
    </nav>

{% block content %}
{% endblock %}

<!-- ===================Footer================== -->

<footer class="footer" id='contactus'>
  
<div class="container footer-container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
          <div class="widget dark">
            <img  alt="" src='{% static "img/logo 2.png" %}' width="60px">
            <p id="address">Vivekananda Vidyapeeth EM HSS, Sector-2, Bhilai Nagar - 490001 (C.G.) India</p>
            <ul class="list-inline mt-5">
              <li > <i class="fas fa-phone text-theme-colored2 mr-5"></i> <a class="text-gray" href="tel:+91-7999584913">+91-7999584913</a> </li>
		        <li > <i class="fas fa-phone text-theme-colored2 mr-5"></i> <a class="text-gray" href="tel:07882226396">0788-2226396</a> </li>
              <li> <i class="fas fa-envelope text-theme-colored2 mr-5"></i> <a class="text-gray" href="mailto:vvpeethbhil@gmail.com">vvpeethbhil@gmail.com</a> </li>
              <!-- <li > <i class="fas fa-globe text-theme-colored2 mr-5"></i> <a class="text-gray" href="#">www.rungtainternational.org</a> </li> -->
            </ul>
            <!-- <ul class="styled-icons icon-sm icon-bordered icon-circled clearfix mt-10 social">
              <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/" ><i class="fab fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
			  <li><a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a></li>
            </ul> -->
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
                  <div class="widget dark">
                    <h4 class="widget-title">Useful Links</h4>
                    <hr class="widget-title-underline">
                    <ul class="angle-double-right list-border">
        			        <li><a href='{% url "vvp:notice" %}'>Latest News</a></li>
                      <li><a href="https://cgbse.nic.in/">CGBSE</a></li>
                      <li><a href="#">Careers</a></li>
                      <li><a href='{% url "vvp:alumni" %}'>Alumni</a></li>
        			        <li><a href='{% url "vvp:notice" %}'>Latest Events</a></li>
                      {% if user.is_authenticated %}
                      <li><a href='{% url "vvp:logout" %}'>Logout</a></li>
                      {% else %}
                      <li><a href='{% url "vvp:login" %}'>Staff Login</a></li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
                <div class="col-sm-12 col-md-4">
                  <div class="widget dark">
                    <h4 class="widget-title">School Timing</h4>
                    <hr class="widget-title-underline">
                    <div class="opening-hours">
                      <ul class="list-border">
                        <li class="clearfix"> <span> Mon - Fri :  </span>
                          <div class="value pull-right"> 9.00 am - 3.00 pm </div>
                        </li>

                        <li class="clearfix"> <span> Sat : </span>
                          <div class="value pull-right"> 9.00 am - 1.00 pm </div>
                        </li>
                        <li class="clearfix"> <span> Sun : </span>
                          <div class="value pull-right bg-theme-colored2 text-white closed"> Closed </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
  </div>


</div>

</footer>
<div class="footer-bottom">
  <p>Copyright ©2020 | Vivekanand Vidyapeeth | Sector - 2 , Bhilai | All Rights Reserved</p>
</div>



   <!-- =============javascript============= -->
<script src='{% static "js/custom.js" %}' charset="utf-8"></script>
<script src='{% static "js/lightbox-plus-jquery.min.js" %}' charset="utf-8"></script>
<script src='{% static "js/lightbox.js" %}' charset="utf-8"></script>
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
   AOS.init();
</script>

  </body>
</html>
