{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Committee Members {% endblock %}
{% block content %}
<!-- =======STAFF-MEMBERS======== -->
<div class="staff-container">
  <div class="container">
    <div class="container-heading">
      <center>
        <h1>Committee members</h1>
        <hr class="heading-underline">
      </center>
    </div>
    <div class="table-staff">
      <table class="table">
     <thead class="thead">
    <tr>
      <th scope="col">S.NO</th>
      <th scope="col">Designation</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    {% for item in item %}
    <tr>
      <th scope="row">{{item.s_no}}</th>
      <td>{{item.Designation}}</td>
      <td>{{item.name}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>



    </div>
  </div>
</div>

{% endblock %}
