{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Our Gems {% endblock %}
{% block content %}
  <!-- end navigation -->
  <div class="topper-cover">
    <img src='{% static "img/topper-cover.jpg" %}' alt="">
  </div>
<div class="container gems-container">
  {% if user.is_authenticated %}
  <div class="row">
    <div class="add-btn" style="text-align:center; margin:0 auto;">
      <a href="{% url 'vvp:gems_form' %}"><button type="button" class="login-btn" name="button">Add Entry</button></a>
    </div>
  </div>
  {% endif %}
  <div class="class-title">
    <center>
      <h1>Class 10th Achievers</h1>

      </center>
<hr class="underline">
  </div>
  <div class="toppers">
  <div class="row">
    {% for item in tenth %}
    <div class="col-lg-3 col-6 ">
      <div class="card" style="width: 18rem; height:28rem;">
      <img class="card-img-top" src='{{item.Photo.url}}' height="200px" width="160px" alt="Card image cap">
      <div class="card-body">
        <center>
          <h5 class="Name">{{item.Name}}</h5>
          <h5 class="Percentage">{{item.Marks}}</h5>
          <h5 class="Percentage">{{item.Batch}}</h5>
        </center>
      </div>
    </div>
   </div>
   {% endfor %}
  </div>
  </div>

  <div class="class-title">
    <center>
      <h1>Class 12th Achievers</h1>

      </center>
    <hr class="underline">
  </div>
  <div class="toppers">
  <div class="row">
    {% for item in twelth %}
    <div class="col-lg-3 col-6">
      <div class="card" style="width: 18rem; height:28rem;">
      <img class="card-img-top" src='{{item.Photo.url}}' alt="Card image cap">
      <div class="card-body">
        <center>
          <h5 class="Name">{{item.Name}}</h5>
          <h5 class="Percentage">{{item.Marks}}</h5>
        </center>
      </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>


</div>
{% endblock %}
